.my-navbar {
    font-size: 18px;
    padding: 12px 16px;
    background-color: RGB(0, 25, 61);
  }
  
  .my-nav-links {
    text-decoration: none;
    color: white;
    
  }
  
  .my-nav-links.products {
    display: none;
  }
  
  .logo {
    text-decoration: none;
    font-size: 1.5rem;
    /* color: RGB(0, 255, 255); */
    color: white;
  }
  .logo:hover {
    color: RGB(105, 218, 243);
    text-decoration: none;
    /* background-color: RGB(105, 218, 243); */
    /* background-color: RGB(0, 255, 248); */
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  .main-nav li {
    text-align: left;
    margin: 15px auto; 
  }
  
  .my-navbar li {
    list-style-type: none;
  }
  .main-nav a:hover {
    padding: 8px;
    color: white;
  }
  
  .my-navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: white;
  }
  
  .my-navbar-toggle:hover {
    color: RGB(105, 218, 243);
  }
  
  .active {
    display: block;
  }
  
  .dropdown .dropbtn {
    font-size: 18px;    
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin-top: 20px;
  }
  
  .dropdown-content{
    display: none;
  }
  
  .dropdown-content li:hover {
    padding: 8px;
    background-color: #007aff;
  } 
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .my-nav-links.products-desktop:hover {
    color: RGB(105, 218, 243);
    text-decoration: none;
  }
  
  
  .nav-button {
    font-size: 18px;
    border: none;
    background-color: inherit;
    color: white;
  }
  
  .nav-button:hover {
    color: white;
  }
  
  .my-nav-links.products-mobile {
    display: block;
  }
  
  
  .my-nav-links.products-desktop {
    display: none;
  }
  
  
  @media screen and (min-width: 768px) {
  
  .my-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  
  .main-nav {
    display: flex;
    margin-right: 30px;
    margin-left: 25px;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .my-nav-links {
    margin-left: 40px;
  }
  
  
  .my-navbar-toggle {
    display: none;
  }
  
  
  .dropdown .dropbtn { 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin-top: 0px;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: RGB(0, 25, 61);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content li {
    text-align: left;
  
  }
  
  .dropbtn:hover {
    color: RGB(105, 218, 243)
  }
  
  .dropdown-content li:hover {
    /* background-color: RGB(197, 198, 200) */
    background-color: #007aff;
  }
  
  
  .nav-button {
    margin-left: 40px;
  }
  
  .my-nav-links.products {
    display: block;
  }
  
  .my-nav-links.products-mobile {
    display: none;
  }
  
  .my-nav-links.products-desktop {
    display: block;
  }
  
  
  }