#all_projects {
    display: none;
}

#all_projects.open {
    display: block;
}


#open_projects {
    display: none;
}

#open_projects.open {
    display: block;
}

#recently_saved_projects {
    display: none;
}

#recently_saved_projects.open {
    display: block;
}



.btn_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.data_container li {
    list-style-type: none;
    padding: 5px;
}

/* .dollar_sign:before {
    content: '$';
    position: absolute;
    top: 50;
    left: 200px; 
    z-index: 1; 
} */

