
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
  /* background-color: #f2f2f2; */
  /* background-color: RGB(11, 165, 161) */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#0f1f5b,#007aff, #007aff, #0086ff, #0192ff, #029cff, #029cff, #23acfc, #3fb5ff, #5bc6fe, #74d5ff, #83defd, #8ee5ff, #9fecfe, #bcf5ff, #bdf6ff);
}

.data_container{
  width: 100%;
  background-color: white;
  padding: 20px;
  margin-top: 35px;
}

.data_container h2{
 font-size: 20px;
  margin-left: 5px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  /* color: white; */
}

.button {
  border: none;
  background-color: #015cdc;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  /* border: 1px solid #015cdc; */
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

.btn_style{
  
}
/* 
.button .open{
  border: none;
  background-color:#5ad7ff;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px; */
  /* border: 1px solid #015cdc; */
  /* color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} */


.btn {
  margin: 20px;

}
.btn_space {
  padding-right: 10px;
}

/* --- JS Table --- */

   #table-js {
     /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
     border-collapse: collapse;
     width: 100%;
     /* display: none; */
   }

     td, th {
       border: 1px solid #ddd;
       padding: 8px;
     }

     tr:hover {background-color: #ddd;}

   th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     /* background-color:#0F2557; */
     /* background-color: #28559A; */
     color: white;
     /* color: black; */
   }

   .container {
     width: auto;
     margin: 10px;
     background-color: ;
   }

   .hide_table{
     display: none;
   }

 

